---
import Layout from "@/layouts/Layout.astro"
import SocialLinks from "@/components/SocialLinks.astro"
import { MyAvatar } from "@/components/MyAvatar"
---

<Layout
  title="Andrei Railean"
  description="Experienced web developer ready to help you and your team"
>
  <main class="m-0 h-full">
    <div
      class="flex flex-col items-center justify-center px-6 pt-8 md:px-10 md:pt-10 lg:pt-16"
    >
      <div class="flex flex-col space-y-3 md:w-[40rem] md:space-y-5">
        <div class="flex justify-center">
          <MyAvatar client:load />
        </div>
        <h1 class="text-center">Andrei Railean</h1>

        <h2 class="pt-3 text-center">Software engineer</h2>

        <p class="text-center md:text-lg">
          Building high-quality, scalable web applications with a strong focus
          on performance and maintainability for over 20 years.
        </p>
      </div>

      <div class="mt-4 text-center md:mt-10">
        <SocialLinks />
      </div>
    </div>
  </main>
</Layout>
