---
import Layout from "@/layouts/Layout.astro"
import SocialLinks from "@/components/SocialLinks.astro"
import { MyAvatar } from "@/components/MyAvatar"
---

<Layout
  title="Andrei Railean"
  description="Experienced web developer ready to help you and your team"
>
  <main class="m-0 h-full">
    <div
      class="flex flex-col items-center justify-center px-6 pt-8 md:px-10 md:pt-10 lg:pt-16"
    >
      <div class="flex flex-col space-y-3 md:w-[40rem] md:space-y-5">
        <div class="flex justify-center">
          <MyAvatar client:load />
        </div>
        <h1 class="text-center">Andrei Railean</h1>

        <h2 class="pt-3 text-center">Engineering quality web apps</h2>

        <p class="md:text-lg">
          Building high-quality, scalable web applications with a strong focus
          on performance and maintainability for over 20 years.
        </p>
        <p class="md:text-lg">
          Deep experience in modern JavaScript/TypeScript technologies like
          React, Node.js, Next.js with APIs built using GraphQL and REST.
          Backends powered by a variety of data stores like PostgreSQL, Redis,
          MySQL, MongoDB and Neo4J.
        </p>
        <h2 class="pt-3 text-center">With teamwork and leadership</h2>
        <p class="md:text-lg">
          High quality software solutions are achieved when working with
          cross-functional teams of engineers, designers and product analysts
          with active participation of business leaders to drive key metrics.
        </p>
        <p class="md:text-lg">
          I have managed, mentored and coached engineers of different levels,
          helping them improve their skills in a supportive and collaborative
          work environment that fosters growth and innovation.
        </p>
      </div>

      <div class="mt-4 text-center text-xl md:mt-10">
        Want to chat?
        <a
          href="https://calendar.app.google/zL9gEKfa9WqChuJZA"
          class="text-blue-600 hover:underline dark:text-blue-300"
          target="_blank"
        >
          Schedule a quick call with me
        </a>
      </div>

      <div class="mt-4 text-center md:mt-10">
        <SocialLinks />
      </div>
    </div>
  </main>
</Layout>
