---
import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
---

<Layout title="Andrei Railean">
  <main class="m-0 h-full">
    <div
      class="flex flex-col items-center justify-center px-6 pt-6 md:px-10 md:pt-10 lg:pt-36"
    >
      <div class="flex flex-col space-y-5 lg:w-[40rem]">
        <h1
          class="text-center text-4xl font-bold tracking-tighter md:text-5xl lg:text-7xl"
        >
          Andrei Railean
        </h1>

        <h2
          class="text-1xl text-center font-semibold tracking-tight md:text-2xl"
        >
          Web dev with 20+ years experience
        </h2>

        <p>
          I have worked with a wide range of technologies and have a strong
          understanding of web development best practices. I am passionate about
          building high-quality, scalable web applications with a focus on
          performance and maintainability.
        </p>
        <p>
          I have experience working with both frontend and backend technologies,
          including <b>JavaScript, TypeScript, React</b>, Node.js, Next.js, Ruby
          on Rails, PHP and <b>GraphQL</b>. I have also worked with databases
          such as PostgreSQL, MySQL and Neo4J.
        </p>
        <p>
          I have experience working with cross-functional teams and have a
          proven track record of delivering high-quality software on time and
          within budget.
        </p>
        <p>
          I have managed and coached engineers of different levels, helping them
          improve their skills and achieve their career goals. I believe in
          creating a supportive and collaborative work environment that fosters
          growth and innovation.
        </p>
      </div>

      <div class="mt-4 text-center md:mt-10">
        <SocialLinks />
      </div>
    </div>
  </main>
</Layout>
