---
import { Icon } from "astro-icon/components"

const socials = [
  {
    title: "Andrei Railean on LinkedIn",
    icon: "fa6-brands:linkedin",
    url: "https://www.linkedin.com/in/andreirailean",
  },
  {
    title: "AndreiRailean on GitHub",
    icon: "fa6-brands:github",
    url: "https://github.com/AndreiRailean",
  },
  {
    title: "@andrei_md on X/Twitter",
    icon: "fa6-brands:x-twitter",
    url: "https://twitter.com/andrei_md",
  },
  {
    title: "Andrei Railean on Stack Overflow",
    icon: "fa6-brands:stack-overflow",
    url: "http://stackoverflow.com/users/68672/andrei-r",
  },
]
---

<span class="inline-grid grid-cols-4 gap-6">
  {
    socials.map(({ icon, url, title }) => (
      <a href={url} class="social-icon group" target="_blank">
        <Icon name={icon} title={title} />
        <span class="social-icon-tooltip group-hover:scale-100">{title}</span>
      </a>
    ))
  }
</span>
